{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    {% include 'base.html' %}

    <h2> This is our homepage!</h2>

    <img style="width:200px" src="{% static 'images/python.png'%}"/>

    <br> <br> <br> <br> <br> <br>

    <a href="{% url 'my-login' %}"> Go to login page </a>

    <br> <br> <br> <br> <br> <br>

    <a href="{% url 'register' %}"> Register a user</a>

    <br> <br>

    <a href="{% url 'create-task' %}"> Create a task</a>

    <br> <br>

    <a href="{% url 'view-tasks' %}"> view tasks</a>

    <br>
    <script src="{% static 'js/app.js' %}"></script>

</html>